.our_shirts_section-4 {
    margin-top: 2.5rem;
}
.our_shirts_section-4 .our_shirts_gridbox {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}
.our_shirts_sec-4-text {
    padding-right: 15px;
}
.our_shirts_left-txt1 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #555;
    padding-top: 10px;
    line-height: 25px;
}
.our_shirts_left-txt1 a {
    font-size: 18px;
    color: #555;
    text-decoration: none;
    border-bottom: 2px solid #555;
}
.zavod-img img {
    width: 100%;
}


/* MEDIA START */

@media (min-width: 1151px) and (max-width: 1200px)  {
    /* SECTION 4 START */
    .our_shirts_section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 0.7fr 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 19px;
    }
    .our_shirts_left-txt1 a {
        font-size: 19px;
    }
    .zavod-img img {
        height: 100%;
    }
}

@media (min-width: 1101px) and (max-width: 1150px)  {
    /* SECTION 4 START */
    .our_shirts_section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 0.7fr 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 19px;
    }
    .our_shirts_left-txt1 a {
        font-size: 19px;
    }
    .zavod-img img {
        height: 100%;
    }
}

@media (min-width: 1041px) and (max-width: 1100px) {

    /* SECTION 4 START */
    .section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 0.7fr 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 18px;
    }
    .our_shirts_left-txt1 a {
        font-size: 18px;
    }
    .zavod-img img {
        height: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1040px)  {
    /* SECTION 4 START */
    .our_shirts_section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 0.7fr 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 18px;
    }
    .our_shirts_left-txt1 a {
        font-size: 18px;
    }
    .zavod-img img {
        height: 100%;
    }
}

@media (min-width: 931px) and (max-width: 992px)  {

    /* SECTION 4 START */
    .section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 17px;
    }
    .our_shirts_left-txt1 a {
        font-size: 17px;
    }
}

@media (min-width: 900px) and (max-width: 930px)  {

    /* SECTION 4 START */
    .our_shirts_section-4 {
        margin-top: 4.5rem;
    }
    .our_shirts_section-4 .our_shirts_gridbox {
        grid-template-columns: 1fr;
    }
    .our_shirts_sec-4-text {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .our_shirts_left-txt1 {
        font-size: 17px;
    }
    .our_shirts_left-txt1 a {
        font-size: 17px;
    }
}



