/* the next four images start here  */

.centered-txt {
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  margin-bottom: 3%;
  margin-top: 5%;
  display: center;
  text-align: center;
}
.grid-one {
  border: 1px solid rgb(204, 195, 195);
  height: 106%;
  width: 100%;
}

.grid-one > img {
  height: 45%;
  width: 100%;
}

.grid-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.heading {
  padding: 2%;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #555555;
}

.inner-txt-wrapper {
  padding-left: 8%;
  padding-right: 8%;
}

@media (min-width: 900px) and (max-width: 1000px) {
  .grid-one > img {
    height: 25%;
  }

  .grid-one {
    height: 100%;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .centered-txt {
    margin-top: 3%;
  }
  .grid-one > img {
    height: 30%;
  }
  .grid-one {
    height: 100%;
  }
}
