/* section one starts here */
* {
  margin: 0;
  padding: 0;
}
/* @font-face {
  font-family: Lab Grotesque;
  src: url("../assests/fonts/font/LabGrotesque-Bold.woff2");
}
@font-face {
  font-family: Montserrat;
  src: url("./assests/fonts/montserrat/Montserrat-Light.otf");
} */

/* first section starts here  */
.wrapper-of-about {
  height: 100%;
  color: #555555;
  font-family: Lab Grotesque;
}
.entry-heading {
  padding: 2% 0;
  font-family: Lab Grotesque;
  font-weight: bold;
  font-size: 33px;
  line-height: 163.1%;
  color: #555555;
}
.first-section {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}
.txt-below-entry-heading {
  margin-bottom: 2.5%;
  font-family: Montserrat;
  font-size: 21px;
  line-height: 32px;
  color: #555555;
}
.letter-k {
  font-size: 60px;
  margin-top: 20px;
}

.second-section img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) and (max-width: 1000px) {
  .entry-heading {
    font-size: 130%;
  }
  .txt-below-entry-heading {
    font-size: 110%;
    margin-bottom: 1%;
  }
  .letter-k {
    font-size: 50px;
  }
  .third-section {
    font-size: 105%;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .entry-heading {
    font-size: 145%;
  }
  .txt-below-entry-heading {
    font-size: 127%;
    margin-bottom: 1%;
  }
  .letter-k {
    font-size: 55px;
  }
  .third-section {
    font-size: 110%;
  }
}
